@mixin small {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 769px) and (max-width: 1279px) {
    @content;
  }
}
@mixin x-large {
  @media (min-width: 1280px){
    @content;
  }
}