$primary-color: #458FF6;

$color-text-nav: #1F1534;
$color-text-titles: #000000;
$color-text-1: #7D7987;
$color-text-2: #FFFFFF;

$font-size-header-titles: 4.8rem;
$font-size-header-text: 2.1rem;
$font-size-titles: 3.6rem;
$font-size-content: 1.8rem;
$font-size-titles-content: 2.4rem;
$font-size-content-content: 1.6rem;