main{
  article:nth-child(1){
    width: 1150px;
    margin: 100px auto;

    section:nth-child(1){
      width: 956px;
      text-align: center;
      margin: 0 auto 80px;
      h2{
        font-size: 36px;
        font-weight: bold;
      }
      img{
        width: 90px;
        margin: 30px 0;
      }
      p{
        font-size: 18px;
        font-weight: 300;
        color: #7D7987;
         
      }
    }

    section:nth-child(2){
      margin:0 auto;
      justify-content: center;
      div{ 
        margin:0 17px 18px;
        div{
          img{
            width: 95px;
            margin: 45px 40px 0;
          }
          h3{
            font-size: 24px;
            font-weight: bold;
            margin: 25px 0 0 40px;
          }
          p{
            font-size: 16px;
            font-weight: 300;
            width: 258px;
            margin: 15px 0 0 40px;
            color: #7D7987;
          }
        }  
      }
    }
    button{
      width: 200px;
      border-radius: 50px;
      border-color: #458FF6;
      padding: 15px;
      background: none;
      color: #458FF6;
      font-weight: 500;
      font-size: 18px;
      margin: 50px auto 0;
      justify-content: center;   
    }
  }

  article:nth-child(2){
    margin: 100px 0;

    section:nth-child(1){
      justify-content: space-between;
      margin-bottom: 52px;
      align-items: center;
      img{
        width: 650px;
      }
      div{
        width: 410px;
        h2{
          font-weight: bold;
          font-size: 36px;
        }
        img{
          width: 56px;
          margin: 31px 0;
        }
        p{
          font-weight: 300;
          font-size: 18px;
          color: #7D7987;

        }
        button{
          width: 200px;
          margin-top: 37px;
          border-radius: 50px;
          border-color: #458FF6;
          padding: 15px;
          background: none;
          color: #458FF6;
          font-weight: 500;
          font-size: 18px;

        }
      }

    }
    section:nth-child(2){
      justify-content: space-between;
      div{
        width: 381px;
        h2{
          font-weight: bold;
          font-size: 36px;
          width: 250px;
        }
        img{
          width: 52px;
          margin: 31px 0;
        }
        p{
          font-weight: 300;
          font-size: 18px;
          color: #7D7987;

        }
        div{

          button{
            position: relative;
            width: 200px;
            margin-top: 40px;
            padding: 15px;
            padding-right: 25px;
            border-radius: 50px;
            border-color: #458FF6;
            background: none;
            color: #458FF6;
            font-weight: 500;
            font-size: 18px;
            img{
              position:absolute;
              top: -13px;
              left: 155px;

             width: 11px;

            }
          } 
        }
      }
      img{
        width: 665px;
      }
    }
  }

  article:nth-child(3){
    background-image: url(../images/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    margin: 428px 0 42px;
    text-align: center;
    color: white;
    h2{
      font-weight: bold;
      font-size: 36px;  
      margin-top: 64px;
    }
    img{
      width: 56px;
      margin: 25px 0 40px;  
    }
    section{
      justify-content: space-between;
      margin: 0 118px 0 118px;
      align-items: center;
      margin-bottom:89px ;
      div{
        align-items: center;
        img{
          width: 141px;
          margin-right: 29px;
        }
        div{
          width: 184px;
          text-align: start;
          h3{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          p{
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
      p{
        width: 420px;
        font-size: 19px;
        font-weight: 300;    
      }
    }

  }

  img{
    width: 336px;
    margin: 0 auto;
    text-align: center;
  }

  article:nth-child(5){
    margin: 216px 0 0;
    section:nth-child(1){
      text-align: center;
      h2{
        font-weight: bold;
        font-size: 36px;
      }
      img{
        width: 56px;
        margin-top: 26px;
      }
    }
    section:nth-child(2){
      margin:0 auto;
      justify-content: center;
      div{
        margin: 79px 17px;
        img{
          width: 350px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

        }
        div{
          width: 266px;
          margin: 0 0 0 32px;
          h3{
            font-weight: bold;
            font-size: 21px;
            margin: 24px 0 12px;
          }
          p{
            font-weight: 300;
            font-size: 16px;
          }
          button{
            margin: 24px 0 0;
            font-weight:500;
            font-size: 17px;
            color:#458FF6;
            border: none;
            background: none;

            img{
              width: 14px;
            }
          }
        }
      }
    }
  }
  
  button:nth-child(6){
    width: 200px;
    border-radius: 50px;
    border-color: #458FF6;
    padding: 15px;
    background: none;
    color: #458FF6;
    font-weight: 500;
    font-size: 18px;
    margin: 0px auto 0;
    justify-content: center; 
  }
}