@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";
@import "./backgounds.scss";
@import "./responsive.scss";

*{
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0; 
  list-style: none;
  text-decoration: none;
}

.container{
  width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}


.box{
  width: 350px;
  height: 355px;
  border-radius: 20px;
  background-color: white;
  box-shadow:30px 30px 20px rgb(192 192 192 / 10%);
}

.box2{
  width: 350px;
  height: 512px;
  border-radius: 20px;
  background-color: white;
  box-shadow:30px 30px 20px rgb(192 192 192 / 20%);
}
